<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ed12658-575e-42ab-96f2-675fb493f6b7" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-10-23T09:27:31</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="ed1e15ce-847f-4928-9e63-7571c38ba1fa">home</Template>
  </Info>
  <Properties />
</Content>