<?xml version="1.0" encoding="utf-8"?>
<Content Key="316d0090-b70f-40b0-9052-15a63269e64e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-05-11T19:36:18</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-GB">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-GB">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <gridContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "870f5419-2326-4d17-9fc5-77e2216a6c66",
      "key": "8119c841-7807-4436-aea7-bc481e2146b7",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Hello World"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "8119c841-7807-4436-aea7-bc481e2146b7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "8119c841-7807-4436-aea7-bc481e2146b7",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </gridContent>
  </Properties>
</Content>