<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c7a5490-fbd4-4358-a070-e5b45d80dca9" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-11-17T21:36:28</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-GB">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-GB">true</Published>
    </Published>
    <Schedule />
    <Template Key="772b254d-acc1-429d-a597-ba9d9421ff82">home</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "870f5419-2326-4d17-9fc5-77e2216a6c66",
      "key": "0a65129b-e9d4-4ffb-8da2-c62589513867",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Hello World"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "0a65129b-e9d4-4ffb-8da2-c62589513867",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "0a65129b-e9d4-4ffb-8da2-c62589513867",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </gridContent>
  </Properties>
</Content>